.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

hero {
  width: 100%;
  padding-bottom: 52.5%;
  position: relative;
  background-image: url('https://picsum.photos/1000/660');
  min-height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  display: flex;
  flex-direction: rows;
  align-items: top;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: whitesmoke;
}

.Nav-buttons {
  display: flex;
  flex-direction: rows;
}